workspaces/[Embaplan] Sub-fluxo_ Consultar Planilha Inteligente.json
{
  "name": "[Embaplan] Sub-fluxo: Consultar Planilha Inteligente",
  "nodes": [
    {
      "parameters": {},
      "id": "271e34fb-98f6-461f-b9fc-1893eb09d5ac",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        48,
        416
      ]
    },
    {
      "parameters": {
        "content": "## 🛠️ Configuração da Pesquisa Inteligente:\n\n1. Clique no nó **Google Sheets** e coloque a sua credencial e selecione o ficheiro correto na opção \"Document\".\n2. Note que a opção \"Sheet\" (Separador) tem uma expressão `={{ $json.nome_do_separador }}`. Isto significa que o Agente é que decide qual aba abrir com base na pergunta do utilizador!\n3. O nó de **Código** vai procurar na folha inteira apenas as linhas que correspondam ao que o Agente quer saber, devolvendo um resumo limpo.",
        "height": 240,
        "width": 640,
        "color": 6
      },
      "id": "63b9b671-302b-4318-9fac-381da9837d33",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf6c4293-2782-4113-a4f6-5a41dfa70ec8",
              "leftValue": "={{ $json.nome_do_separador }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            },
            {
              "id": "36e27d2b-6c0a-4727-80b1-9486833bcd58",
              "leftValue": "={{ $json.query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f0e6b4f5-83fa-4cc7-a766-9e52e0c935b2",
      "name": "Tem nome da aba?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        416
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "113Z3z1tTYza8XYnEMBtM5elrhsus2N9yP5Ww0w3zTek",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.nome_do_separador || $json.query }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "8fc7b40e-6cb8-4548-a904-c174b85eabb0",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        528,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y2LZELFEeUCjAV5U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/113Z3z1tTYza8XYnEMBtM5elrhsus2N9yP5Ww0w3zTek?fields=sheets.properties.title",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a76f9e90-010d-47ea-a063-fde6843ab565",
      "name": "Listar Abas API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        528,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y2LZELFEeUCjAV5U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const abas = $input.first().json.sheets.map(s => s.properties.title);\nreturn [{\n  json: {\n    aviso_para_a_ia: \"Você não especificou o nome da aba. Aqui estão as abas disponíveis. Chame esta ferramenta novamente usando um destes nomes no parâmetro 'nome_do_separador'.\",\n    abas_disponiveis: abas\n  }\n}];"
      },
      "id": "15381bc1-870c-44d7-b32e-b5b1c7aa4e54",
      "name": "Formatar Lista de Abas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Recebe o termo de pesquisa enviado pelo Agente de IA\nconst triggerData = $('Execute Workflow Trigger').first().json;\nconst termoBusca = (triggerData.termo_de_pesquisa || '').toLowerCase().trim();\n\nlet resultados = [];\n\n// Palavras genéricas que a IA costuma inventar. Se ela mandar isso, ignoramos o filtro.\nconst termosGenericos = ['todos', 'análise', 'analise', 'geral', 'relatório', 'relatorio'];\n\n// === Mapeamento das lojas (Shopee shop_id) ===\nconst LOJAS = {\n  '1': '457463719',\n  '2': '1020574907',\n  '3': '959503392'\n};\n\nfunction slugify(s) {\n  if (!s) return '';\n  return String(s).toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n}\n\nfunction detectarMarketplace(lojaRaw) {\n  const v = String(lojaRaw ?? '').trim().toUpperCase();\n  if (v.startsWith('ML')) return 'mercado_livre';\n  return 'shopee';\n}\n\nfunction lojaKeyNumerica(lojaRaw) {\n  const m = String(lojaRaw ?? '').match(/(\\d+)/);\n  return m ? m[1] : '';\n}\n\nfunction montarLinkMercadoLivre(adIdRaw) {\n  const digits = String(adIdRaw ?? '').replace(/\\D/g, '');\n  if (!digits) return '';\n  return `https://produto.mercadolivre.com.br/MLB-${digits}-_JM`;\n}\n\nfunction montarLinkShopee(row) {\n  const lojaRaw = row['Loja'] ?? row['loja'] ?? '';\n  const titulo  = row['Titulo'] ?? row['Título'] ?? row['titulo'] ?? row['Nome do Anúncio'] ?? row['Nome'] ?? row['Index'] ?? row['INDEX'];\n  const adId    = row['ID do Anuncio'] ?? row['ID do Anúncio'] ?? row['ID do anúncio'] ?? row['id_do_anuncio'] ?? row['ID_do_Anuncio'];\n  if (!adId) return '';\n  if (detectarMarketplace(lojaRaw) === 'mercado_livre') {\n    return montarLinkMercadoLivre(adId);\n  }\n  const shopId = LOJAS[lojaKeyNumerica(lojaRaw)];\n  if (!shopId || String(shopId).startsWith('ID_LOJA_')) return '';\n  const slug = slugify(titulo) || 'produto';\n  return `https://shopee.com.br/${slug}-i.${shopId}.${adId}`;\n}\n\n// === Helpers numéricos defensivos ===\n// Converte qualquer string monetária BR/EN ('R$ 1.234,56' / '1234.56' / '12%' / '7,52%') para Number.\nfunction toNum(v) {\n  if (v === null || v === undefined || v === '') return 0;\n  if (typeof v === 'number') return v;\n  let s = String(v).trim();\n  s = s.replace(/R\\$/gi, '').replace(/%/g, '').replace(/\\s/g, '');\n  // Se tem vírgula E ponto: ponto é separador de milhar, vírgula é decimal.\n  if (s.indexOf(',') >= 0 && s.indexOf('.') >= 0) {\n    s = s.replace(/\\./g, '').replace(',', '.');\n  } else if (s.indexOf(',') >= 0) {\n    // Só vírgula: decimal BR.\n    s = s.replace(',', '.');\n  }\n  const n = parseFloat(s);\n  return isFinite(n) ? n : 0;\n}\n\n// Pega o primeiro campo existente entre vários candidatos (case-insensitive).\nfunction pick(row, candidates) {\n  for (const c of candidates) {\n    if (row[c] !== undefined && row[c] !== null && row[c] !== '') return row[c];\n  }\n  // Fallback case-insensitive\n  const keys = Object.keys(row);\n  for (const c of candidates) {\n    const k = keys.find(k => k.toLowerCase() === c.toLowerCase());\n    if (k && row[k] !== '' && row[k] !== null && row[k] !== undefined) return row[k];\n  }\n  return undefined;\n}\n\nfunction round2(n) { return Math.round(n * 100) / 100; }\n\n// Tabela de decisão NOVA (v2): prioriza ACOS + lucro absoluto, que é o que importa no Shopee.\n// Ordem dos testes IMPORTA — o primeiro que casa decide.\nfunction classificarStatus(conv, acos, lucro, ctr, vendas) {\n  if (lucro < 0) return '🛑 Ralo';                                // queima dinheiro\n  if (acos > 30) return '🛑 Ralo';                                // ads comem a receita\n  if (lucro < 30 && (vendas || 0) < 3) return '🛑 Ralo';          // irrelevante e improdutivo\n  if (acos <= 10 && lucro >= 100) return '🚀 Escalável';          // ACOS ótimo + lucro sólido\n  if (acos <= 15 && lucro >= 50)  return '⏳ Maturação';          // rentável, pode otimizar\n  if (acos > 20 || ctr < 0.8 || conv < 2) return '⚠️ Gargalo';   // alguma métrica fraca\n  return '⏳ Maturação';                                          // zona intermediária saudável\n}\n\n// Calcula saúde 0-10 (mesma fórmula do system prompt).\nfunction saude(ctr, conv, acos, lucro) {\n  const base = (ctr * 1.5) + (conv * 0.5) + Math.max(0, (30 - acos) * 0.15) + (lucro > 0 ? 2 : 0);\n  return Math.min(10, Math.max(0, round2(base)));\n}\n\n// Enriquece linha individual: link + métricas derivadas por anúncio.\nfunction enriquecerLinha(row) {\n  row['Link do Shopee'] = montarLinkShopee(row);\n\n  const vendas = toNum(pick(row, ['Itens Vendidos', 'Vendidos', 'Vendas', 'Quantidade Vendida']));\n  const receita = toNum(pick(row, ['GMV', 'Receita Bruta', 'Receita', 'Faturamento']));\n  const lucro = toNum(pick(row, ['lucro liquido', 'Lucro Líquido', 'Lucro Liquido', 'Lucro']));\n  const custoAds = toNum(pick(row, ['Despesas', 'Investimento', 'Custo Ads', 'Custo do Anúncio', 'Investimento Ads', 'Gasto Ads']));\n  const cliques = toNum(pick(row, ['Cliques']));\n  const impressoes = toNum(pick(row, ['Impressões', 'Impressoes']));\n  const conversoes = toNum(pick(row, ['Convertidos', 'Conversões', 'Conversoes', 'Itens Vendidos']));\n\n  // Campos que podem vir já como FRAÇÃO (ex: 0.0727) ou PERCENTUAL (ex: 7.27 ou \"7,27%\").\n  // toPct: normaliza para percentual numérico (7.27).\n  function toPct(v) {\n    const n = toNum(v);\n    if (n === 0) return 0;\n    // Se < 1 e a string original NÃO tem %, é fração decimal → multiplica por 100.\n    const original = String(v ?? '');\n    if (n > 0 && n < 1 && !original.includes('%')) return round2(n * 100);\n    return round2(n);\n  }\n\n  // Prioriza valores prontos da planilha; senão calcula.\n  const acosRaw = pick(row, ['ACOS']);\n  const convRaw = pick(row, ['Taxa de Conversão', 'Taxa de Conversao', 'Conversão', 'Conversao', 'Tx.Conver.']);\n  const ctrRaw = pick(row, ['CTR']);\n\n  const ctr = ctrRaw !== undefined ? toPct(ctrRaw) : (impressoes > 0 ? round2((cliques / impressoes) * 100) : 0);\n  const convPct = convRaw !== undefined ? toPct(convRaw) : (cliques > 0 ? round2((conversoes / cliques) * 100) : 0);\n  const acos = acosRaw !== undefined ? toPct(acosRaw) : (receita > 0 ? round2((custoAds / receita) * 100) : 0);\n  const roi = custoAds > 0 ? round2((lucro / custoAds) * 100) : 0;\n  const roas = custoAds > 0 ? round2(receita / custoAds) : 0;\n  const roiAds = custoAds > 0 ? round2(((receita - custoAds) / custoAds) * 100) : 0;\n  const margemLiquidaPct = receita > 0 ? round2((lucro / receita) * 100) : 0;\n  const custoPorVenda = vendas > 0 ? round2(custoAds / vendas) : 0;\n\n  row._metricas = {\n    vendas, receita: round2(receita), lucro: round2(lucro), custo_ads: round2(custoAds), cliques, impressoes, conversoes,\n    ctr_pct: ctr, conversao_pct: convPct, acos_pct: acos,\n    roas, roi_ads_pct: roiAds, margem_liquida_pct: margemLiquidaPct,\n    roi_lucro_sobre_ads_pct: roi,\n    custo_por_venda: custoPorVenda,\n    status: classificarStatus(convPct, acos, lucro, ctr, vendas)\n  };\n  return row;\n}\n\n// === Consolida métricas por PRODUTO ===\n// Identidade do produto: Categoria + Tamanho (que é como a planilha real distingue linhas).\nfunction chaveProduto(row) {\n  const loja = String(pick(row, ['Loja', 'loja']) ?? '').trim();\n  const cat = String(pick(row, ['Categoria']) || '').trim();\n  const tam = String(pick(row, ['Tamanho']) || '').trim();\n  const base = (cat && tam) ? `${cat} — ${tam}` : String(pick(row, ['Tamanho', 'Categoria', 'Index', 'Produto', 'Linha']) || 'SEM_PRODUTO').trim();\n  // Cada Loja é um grupo separado — evita misturar métricas entre lojas com o mesmo produto.\n  return loja ? `[Loja ${loja}] ${base}` : base;\n}\n\nfunction consolidarPorProduto(items) {\n  const grupos = {};\n  for (const it of items) {\n    const row = it.json;\n    if (!row || !row._metricas) continue;\n    const produto = chaveProduto(row);\n    if (!grupos[produto]) {\n      grupos[produto] = { produto, anuncios: 0, vendas: 0, receita: 0, lucro: 0, custo_ads: 0, cliques: 0, impressoes: 0, conversoes: 0, _rows: [] };\n    }\n    const g = grupos[produto];\n    const m = row._metricas;\n    g.anuncios += 1;\n    g.vendas += m.vendas;\n    g.receita += m.receita;\n    g.lucro += m.lucro;\n    g.custo_ads += m.custo_ads;\n    g.cliques += m.cliques;\n    g.impressoes += m.impressoes;\n    g.conversoes += m.conversoes;\n    g._rows.push(row);\n  }\n  const consolidado = Object.values(grupos).map(g => {\n    // Lista detalhada de TODOS os anúncios do produto — fonte única de verdade.\n    // Ordenada por receita desc. O agente DEVE usar esta lista literalmente; NÃO pode inventar/omitir anúncios.\n    const anuncios_detalhados = g._rows.map(r => {\n      const m = r._metricas;\n      const indiceRaw = pick(r, ['indice', 'Indice', 'Índice', 'Index', 'index']);\n      const idAnuncio = pick(r, ['ID do Anuncio', 'ID do Anúncio', 'id_do_anuncio', 'ID_do_Anuncio']);\n      const titulo = pick(r, ['Titulo', 'Título', 'titulo', 'Nome do Anúncio', 'Nome']);\n      const lojaRow = String(pick(r, ['Loja', 'loja']) ?? '').trim();\n      // BUGFIX: aceitar 'indice' APENAS se for numérico/curto. Em algumas abas a coluna 'Index' contém o NOME do produto (ex: \"Base A4\") — isso fazia todos os anúncios saírem com o mesmo cabeçalho. Quando não é numérico, caímos para id_anuncio, que é sempre único.\n      const indiceNumerico = (indiceRaw !== undefined && /^\\s*\\d{1,6}\\s*$/.test(String(indiceRaw))) ? String(indiceRaw).trim() : null;\n      const indiceUnico = indiceNumerico !== null\n        ? (lojaRow ? `L${lojaRow}#${indiceNumerico}` : indiceNumerico)\n        : (idAnuncio !== undefined ? String(idAnuncio) : '');\n      // indice usado para a planilha (somente o numérico válido)\n      const indice = indiceNumerico;\n      return {\n        loja: lojaRow || null,\n        indice: indiceUnico,\n        indice_planilha: indice !== undefined ? String(indice) : '',\n        id_anuncio: idAnuncio !== undefined ? String(idAnuncio) : '',\n        titulo: titulo !== undefined ? String(titulo) : '',\n        link: r['Link do Shopee'] || '',\n        vendas: m.vendas,\n        receita: m.receita,\n        lucro: m.lucro,\n        custo_ads: m.custo_ads,\n        cliques: m.cliques,\n        impressoes: m.impressoes,\n        ctr_pct: m.ctr_pct,\n        conversao_pct: m.conversao_pct,\n        acos_pct: m.acos_pct,\n        roas: m.roas,\n        margem_liquida_pct: m.margem_liquida_pct,\n        custo_por_venda: m.custo_por_venda,\n        status: m.status\n      };\n    }).sort((a, b) => b.receita - a.receita);\n    const ctr = g.impressoes > 0 ? round2((g.cliques / g.impressoes) * 100) : 0;\n    const conv = g.cliques > 0 ? round2((g.conversoes / g.cliques) * 100) : 0;\n    const acos = g.receita > 0 ? round2((g.custo_ads / g.receita) * 100) : 0;\n    const roi = g.custo_ads > 0 ? round2((g.lucro / g.custo_ads) * 100) : 0;\n    const roiAds = g.custo_ads > 0 ? round2(((g.receita - g.custo_ads) / g.custo_ads) * 100) : 0;\n    const roas = g.custo_ads > 0 ? round2(g.receita / g.custo_ads) : 0;\n    const margem = g.receita > 0 ? round2((g.lucro / g.receita) * 100) : 0;\n    const ticket = g.vendas > 0 ? round2(g.receita / g.vendas) : 0;\n    return {\n      produto: g.produto,\n      anuncios: g.anuncios,\n      vendas_total: g.vendas,\n      receita_total: round2(g.receita),\n      lucro_total: round2(g.lucro),\n      investimento_ads_total: round2(g.custo_ads),\n      ctr_medio_pct: ctr,\n      conversao_media_pct: conv,\n      acos_medio_pct: acos,\n      roas,\n      roi_ads_pct: roiAds,\n      margem_liquida_pct: margem,\n      roi_lucro_sobre_ads_pct: roi,\n      ticket_medio: ticket,\n      saude_0_10: saude(ctr, conv, acos, g.lucro),\n      status_consolidado: classificarStatus(conv, acos, g.lucro, ctr, g.vendas),\n      // Checklist determinístico de cobertura: lista CRUA dos identificadores únicos que o agente DEVE renderizar.\n      checklist_obrigatorio: anuncios_detalhados.map(a => a.indice || a.id_anuncio).filter(Boolean),\n      ids_cards: anuncios_detalhados.slice(0, 3).map(a => a.indice || a.id_anuncio).filter(Boolean),\n      ids_resumo: anuncios_detalhados.slice(3).map(a => a.indice || a.id_anuncio).filter(Boolean),\n      anuncios_detalhados\n    };\n  }).sort((a, b) => b.receita_total - a.receita_total);\n\n  // === Agregado por LOJA + share por produto (PRÉ-CALCULADO) ===\n  const lojaTotais = {};\n  for (const p of consolidado) {\n    const mm = String(p.produto).match(/^\\[Loja\\s+([^\\]]+)\\]/i);\n    const lojaKey = mm ? mm[1].trim() : 'SEM_LOJA';\n    if (!lojaTotais[lojaKey]) lojaTotais[lojaKey] = { loja: lojaKey, produtos: 0, anuncios_loja: 0, receita_loja: 0, vendas_loja: 0, lucro_loja: 0, investimento_ads_loja: 0 };\n    const t = lojaTotais[lojaKey];\n    t.produtos += 1;\n    t.anuncios_loja += (p.anuncios || 0);\n    t.receita_loja += p.receita_total;\n    t.vendas_loja += p.vendas_total;\n    t.lucro_loja += p.lucro_total;\n    t.investimento_ads_loja += p.investimento_ads_total;\n  }\n  for (const p of consolidado) {\n    const mm = String(p.produto).match(/^\\[Loja\\s+([^\\]]+)\\]/i);\n    const lojaKey = mm ? mm[1].trim() : 'SEM_LOJA';\n    const t = lojaTotais[lojaKey];\n    p.loja = lojaKey === 'SEM_LOJA' ? null : lojaKey;\n    p.share_receita_loja_pct = (t && t.receita_loja > 0) ? round2((p.receita_total / t.receita_loja) * 100) : 0;\n    p.share_vendas_loja_pct  = (t && t.vendas_loja  > 0) ? round2((p.vendas_total  / t.vendas_loja ) * 100) : 0;\n  }\n  for (const k of Object.keys(lojaTotais)) {\n    const t = lojaTotais[k];\n    t.receita_loja = round2(t.receita_loja);\n    t.lucro_loja = round2(t.lucro_loja);\n    t.investimento_ads_loja = round2(t.investimento_ads_loja);\n    t.margem_liquida_loja_pct = t.receita_loja > 0 ? round2((t.lucro_loja / t.receita_loja) * 100) : 0;\n    t.acos_loja_pct = t.receita_loja > 0 ? round2((t.investimento_ads_loja / t.receita_loja) * 100) : 0;\n    t.roas_loja = t.investimento_ads_loja > 0 ? round2(t.receita_loja / t.investimento_ads_loja) : 0;\n    t.ticket_medio_loja = t.vendas_loja > 0 ? round2(t.receita_loja / t.vendas_loja) : 0;\n  }\n  const lojas = Object.values(lojaTotais).sort((a, b) => b.receita_loja - a.receita_loja);\n  return { produtos: consolidado, lojas };\n}\n\nfunction enriquecer(items) {\n  const out = [];\n  for (const it of items) {\n    if (!it || !it.json) continue;\n    enriquecerLinha(it.json);\n    const m = it.json._metricas;\n    if (m && m.receita === 0 && m.custo_ads === 0 && m.vendas === 0 && m.cliques === 0 && m.impressoes === 0) continue;\n    out.push(it);\n  }\n  return out;\n}\n\n// === FONTE DE DADOS: Supabase consolidado (todas as lojas, todos os uploads) ===\r\n// O CHAT NAO le mais o Google Sheet. Le a base persistida no Supabase\r\n// (mesma fonte do dashboard), que acumula TODOS os uploads e cobre TODAS as lojas.\r\n// metrics_jsonb guarda as metricas completas por anuncio (detalhe profundo).\r\nfunction mapSupabaseRow(r) {\r\n  const m =\r\n    r.metrics_jsonb && typeof r.metrics_jsonb === \"object\"\r\n      ? r.metrics_jsonb\r\n      : {};\r\n  const base = String(r.produto || \"\")\r\n    .replace(/^\\[Loja\\s+[^\\]]+\\]\\s*/i, \"\")\r\n    .trim();\r\n  const row = {\r\n    Loja: r.loja == null ? \"\" : String(r.loja),\r\n    Categoria: base,\r\n    Titulo: r.titulo == null ? \"\" : String(r.titulo),\r\n    \"ID do Anuncio\": r.anuncio_indice == null ? \"\" : String(r.anuncio_indice),\r\n  };\r\n  const vendas = Number(r.vendas) || 0;\r\n  const receita = Number(r.receita) || 0;\r\n  const lucro = Number(r.lucro) || 0;\r\n  const custoAds = Number(r.investimento_ads) || 0;\r\n  row._metricas = {\r\n    vendas: vendas,\r\n    receita: round2(receita),\r\n    lucro: round2(lucro),\r\n    custo_ads: round2(custoAds),\r\n    cliques: Number(m.cliques) || 0,\r\n    impressoes: Number(m.impressoes) || 0,\r\n    conversoes: Number(m.conversoes) || 0,\r\n    ctr_pct: Number(r.ctr) || 0,\r\n    conversao_pct: Number(r.conversao) || 0,\r\n    acos_pct: Number(r.acos) || 0,\r\n    roas: Number(r.roas) || 0,\r\n    roi_ads_pct: Number(r.roi) || 0,\r\n    margem_liquida_pct: Number(r.margem_liquida) || 0,\r\n    roi_lucro_sobre_ads_pct:\r\n      custoAds > 0 ? round2((lucro / custoAds) * 100) : 0,\r\n    custo_por_venda: vendas > 0 ? round2(custoAds / vendas) : 0,\r\n    status: m.status || r.status || \"\",\r\n  };\r\n  row[\"Link do Shopee\"] =\r\n    m.link || m[\"Link do Shopee\"] || montarLinkShopee(row) || \"\";\r\n  return row;\r\n}\r\n\r\nlet baseRows = [];\r\ntry {\r\n  baseRows = $(\"Base Consolidada (todas as lojas)\")\r\n    .all()\r\n    .map((it) => it.json)\r\n    .filter((r) => r && r.anuncio_indice);\r\n} catch (e) {\r\n  console.warn(\"Base Consolidada indisponivel:\", e);\r\n}\r\nconst totalAnunciosConsolidado = baseRows.length;\r\n\r\n// Mapeia para o formato do pipeline e descarta linhas 100% zeradas.\r\nconst rowsRaw = baseRows.map(mapSupabaseRow).filter(function (r) {\r\n  const m = r._metricas;\r\n  return !(\r\n    m.receita === 0 &&\r\n    m.custo_ads === 0 &&\r\n    m.vendas === 0 &&\r\n    m.cliques === 0 &&\r\n    m.impressoes === 0\r\n  );\r\n});\r\n\r\n// lojas[] da base COMPLETA (nunca sofre slice) — fonte oficial para \"quais/quantas lojas\".\r\nconst lojasParaIA = consolidarPorProduto(\r\n  rowsRaw.map(function (r) {\r\n    return { json: r };\r\n  }),\r\n).lojas;\r\n\r\n// === Busca: normalizacao acento-insensitive ===\nfunction norm(s) {\n  return String(s == null ? '' : s)\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, ' ')\n    .trim();\n}\nfunction matchSubstr(r, termoNorm) {\n  return norm(JSON.stringify(r)).includes(termoNorm);\n}\n\n// Catalogo COMPLETO e leve de TODOS os anuncios — base para a IA fazer busca\n// semantica / sinonimo / erro-de-digitacao / intencao e LISTAGENS por loja/indice.\nconst catalogo = rowsRaw.map(function (r) {\n  return {\n    loja: r['Loja'] || null,\n    produto: chaveProduto(r),\n    indice: String(r['Categoria'] || ''),\n    id: String(r['ID do Anuncio'] || ''),\n    titulo: String(r['Titulo'] || ''),\n    status: r._metricas ? r._metricas.status : '',\n    link: r['Link do Shopee'] || ''\n  };\n});\n\n// Filtro do termo de pesquisa (loja / texto / generico) sobre a base consolidada.\nconst matchLoja = termoBusca.match(/\\bloja[\\s_-]+([a-z0-9]+)/i);\nconst filtroLoja = matchLoja ? matchLoja[1].trim().toLowerCase() : null;\nconst termoNorm = norm(termoBusca);\n\nlet listaRows;\nif (!termoBusca || termosGenericos.includes(termoBusca)) {\n  listaRows = rowsRaw.slice(-150);\n} else if (filtroLoja) {\n  // \"loja N\" (+ termo residual opcional): filtra a loja; se o residual casar por substring, restringe.\n  const resto = norm(termoBusca.replace(/\\bloja[\\s_-]+[a-z0-9]+/i, ''));\n  const daLoja = rowsRaw.filter(function (r) {\n    return String(r['Loja'] == null ? '' : r['Loja']).trim().toLowerCase() === filtroLoja;\n  });\n  const comResto = resto ? daLoja.filter(function (r) { return matchSubstr(r, resto); }) : daLoja;\n  listaRows = comResto.length ? comResto : daLoja;\n} else {\n  // Busca textual ACENTO-INSENSITIVE por substring (nome parcial, indice, id, \"escola dominical\"...).\n  listaRows = rowsRaw.filter(function (r) { return matchSubstr(r, termoNorm); }).slice(0, 100);\n}\nconst listaBase = listaRows.map(function (r) {\n  return { json: r };\n});\n\nconst _consol = consolidarPorProduto(listaBase);\n\n// Load previous snapshots from Postgres node to calculate changes\nlet prevSnapshots = [];\ntry {\n  prevSnapshots = $('Get Previous Snapshots').all().map(item => item.json);\n} catch (e) {\n  console.warn(\"Could not load previous snapshots:\", e);\n}\n\nconst prevMap = new Map();\nfor (const s of prevSnapshots) {\n  prevMap.set(String(s.anuncio_indice), s);\n}\n\nconst alteracoes = [];\nconst curIndices = new Set();\n\nfor (const it of listaBase) {\n  const cur = it.json;\n  if (!cur || !cur._metricas) continue;\n  const m = cur._metricas;\n  \n  const lojaRow = String(pick(cur, ['Loja', 'loja']) ?? '').trim();\n  const indiceRaw = pick(cur, ['indice', 'Indice', 'Índice', 'Index', 'index']);\n  const idAnuncio = pick(cur, ['ID do Anuncio', 'ID do Anúncio', 'id_do_anuncio', 'ID_do_Anuncio']);\n  const indiceNumerico = (indiceRaw !== undefined && /^\\s*\\d{1,6}\\s*$/.test(String(indiceRaw))) ? String(indiceRaw).trim() : null;\n  const idx = indiceNumerico !== null\n    ? (lojaRow ? `L${lojaRow}#${indiceNumerico}` : indiceNumerico)\n    : (idAnuncio !== undefined ? String(idAnuncio) : '');\n    \n  if (!idx) continue;\n  curIndices.add(idx);\n  \n  const prev = prevMap.get(idx);\n  const titulo = pick(cur, ['Titulo', 'Título', 'titulo', 'Nome do Anúncio', 'Nome']) || idx;\n  const produto = chaveProduto(cur);\n  \n  if (!prev) {\n    alteracoes.push({\n      anuncio: titulo,\n      anuncio_indice: idx,\n      loja: lojaRow || null,\n      produto,\n      campo: 'Status',\n      valor_anterior: null,\n      valor_atual: m.status || 'Ativo',\n      delta_pct: null,\n      tipo: 'novo',\n      resumo: `Novo anúncio detectado: ${titulo}`\n    });\n    continue;\n  }\n  \n  const curPrice = m.vendas > 0 ? (m.receita / m.vendas) : 0;\n  const prevVendas = Number(prev.vendas) || 0;\n  const prevReceita = Number(prev.receita) || 0;\n  const prevPrice = prevVendas > 0 ? (prevReceita / prevVendas) : 0;\n  \n  if (curPrice > 0 && prevPrice > 0) {\n    const deltaPricePct = ((curPrice - prevPrice) / prevPrice) * 100;\n    if (Math.abs(deltaPricePct) >= 2) {\n      alteracoes.push({\n        anuncio: titulo,\n        anuncio_indice: idx,\n        loja: lojaRow || null,\n        produto,\n        campo: 'Preço',\n        valor_anterior: Math.round(prevPrice * 100) / 100,\n        valor_atual: Math.round(curPrice * 100) / 100,\n        delta_pct: Math.round(deltaPricePct * 100) / 100,\n        tipo: 'preco',\n        resumo: `Preço alterado de R$ ${prevPrice.toFixed(2)} para R$ ${curPrice.toFixed(2)} (${deltaPricePct > 0 ? '+' : ''}${Math.round(deltaPricePct)}%)`\n      });\n    }\n  }\n  \n  const curAds = m.custo_ads || 0;\n  const prevAds = Number(prev.investimento_ads) || 0;\n  if (prevAds > 0 || curAds > 0) {\n    const prevVal = prevAds || 0;\n    const curVal = curAds || 0;\n    if (prevVal > 0) {\n      const deltaAdsPct = ((curVal - prevVal) / prevVal) * 100;\n      if (Math.abs(deltaAdsPct) >= 10) {\n        alteracoes.push({\n          anuncio: titulo,\n          anuncio_indice: idx,\n          loja: lojaRow || null,\n          produto,\n          campo: 'Investimento Ads',\n          valor_anterior: prevVal,\n          valor_atual: curVal,\n          delta_pct: Math.round(deltaAdsPct * 100) / 100,\n          tipo: 'investimento',\n          resumo: `Investimento Ads alterado de R$ ${prevVal.toFixed(2)} para R$ ${curVal.toFixed(2)} (${deltaAdsPct > 0 ? '+' : ''}${Math.round(deltaAdsPct)}%)`\n        });\n      }\n    }\n  }\n  \n  if (m.status && prev.status && m.status !== prev.status) {\n    alteracoes.push({\n      anuncio: titulo,\n      anuncio_indice: idx,\n      loja: lojaRow || null,\n      produto,\n      campo: 'Status',\n      valor_anterior: prev.status,\n      valor_atual: m.status,\n      delta_pct: null,\n      tipo: 'status',\n      resumo: `Status alterado de ${prev.status} para ${m.status}`\n    });\n  }\n}\n\nfor (const s of prevSnapshots) {\n  const idx = String(s.anuncio_indice);\n  if (!curIndices.has(idx)) {\n    alteracoes.push({\n      anuncio: s.titulo || idx,\n      anuncio_indice: idx,\n      loja: s.loja,\n      produto: s.produto,\n      campo: 'Status',\n      valor_anterior: s.status,\n      valor_atual: 'Removido',\n      delta_pct: null,\n      tipo: 'removido',\n      resumo: `Anúncio removido: ${s.titulo || idx}`\n    });\n  }\n}\n\nconst sumario = {\n  json: {\n    __tipo: 'SUMARIO_PRE_CALCULADO',\n    aviso_para_a_ia: 'FONTE ÚNICA DE VERDADE: produtos[X].anuncios_detalhados é a lista COMPLETA e DEFINITIVA dos anúncios de cada produto, já ordenada por receita desc. Use ESTA lista literalmente. PROIBIDO inventar, omitir ou reordenar anúncios. PROIBIDO mostrar quantidade menor que produtos[X].anuncios. CONSOLIDADO POR LOJA: cada produto[X] já é SEGREGADO POR LOJA (chave \\u003c[Loja N] Produto\\u003e). PROIBIDO somar receita/vendas entre lojas no consolidado — o valor de produtos[X].vendas_total/receita_total já reflete APENAS a loja indicada no nome do produto. SHARE-DA-LOJA PRÉ-CALCULADO: produtos[X].share_receita_loja_pct e produtos[X].share_vendas_loja_pct já vêm prontos (cada produto sobre o total da SUA loja). PROIBIDO recalcular ou inventar esses percentuais. Totais por loja (receita_loja, vendas_loja, lucro_loja, investimento_ads_loja, acos_loja_pct, roas_loja, margem_liquida_loja_pct, ticket_medio_loja) estão em sumario.lojas[]. IDENTIDADE: produtos[X].anuncios_detalhados[i].indice já vem prefixado com a loja (ex: L2#47) para nunca colidir entre lojas. Use esse \"indice\" no card \\u00f0\\u009f\\u0093\\u00a2 CAMPANHA: Index #... LITERALMENTE. CHECKLIST DETERMINÍSTICO DE COBERTURA: cada produto traz produtos[X].checklist_obrigatorio = lista CRUA de TODOS os identificadores únicos. Você DEVE: (1) renderizar UM card completo 📢 CAMPANHA para CADA item de checklist_obrigatorio, NA ORDEM, SEM EXCEÇÃO (mesmo Ralo/Gargalo/1-venda); (2) ao fim, escrever bloco LITERAL \"✅ COBERTURA DE ANÚNCIOS (N/N)\" listando CADA item com ✅, na MESMA ORDEM. PROIBIDO mini-tabela de resumo. PROIBIDO o cabeçalho \"📋 OUTROS ANÚNCIOS DA LINHA (RESUMIDO)\" (removido). PROIBIDO repetir um id em dois cards. PROIBIDO usar o cabeçalho \"Visão Executiva\" mais de uma vez por produto. Se a contagem de cards não for igual a produtos[X].anuncios, sua resposta está INVÁLIDA — refaça antes de enviar. Os campos produtos[X].ids_cards e produtos[X].ids_resumo são LEGADOS e devem ser IGNORADOS — use APENAS checklist_obrigatorio. VALIDAÇÃO TRIVIAL: a soma de anuncios_detalhados[i].vendas DEVE bater EXATAMENTE com vendas_total. MÉTRICAS: roas=receita/ads; roi_ads_pct=((receita-ads)/ads)*100; margem_liquida_pct=(lucro/receita)*100. NÃO reporte roi_lucro_sobre_ads_pct (legado). No template, reporte ROAS + Margem Líquida + ACOS.',\n    total_anuncios: listaBase.length,\n    total_anuncios_consolidado: totalAnunciosConsolidado,\n    aviso_busca: 'BUSCA: sumario.catalogo[] lista TODOS os anuncios da base (loja, indice, id, titulo). Use-o para busca SEMANTICA, sinonimo, erro de digitacao e INTENCAO, e para LISTAR anuncios por loja ou indice — encontre os itens por SIGNIFICADO lendo os titulos. produtos[]/anuncios_detalhados = detalhe metrico dos que casaram com o termo. Se um ID/indice exato NAO existir em catalogo[], diga honestamente que nao esta na base atual; pode sugerir parecidos, mas rotule como \\\"parecido\\\" e NUNCA apresente outro anuncio como se fosse o pedido.',\n    total_no_catalogo: catalogo.length,\n    catalogo: catalogo,\n    aviso_lojas: 'sumario.lojas[] = TODAS as lojas da base (Supabase consolidado: todos os uploads, ultimo estado de cada anuncio). Use SEMPRE esta lista para dizer QUAIS e QUANTAS lojas existem no sistema. produtos[]/anuncios_detalhados = detalhe dos anuncios que casam com o termo pesquisado; para auditar uma loja chame a tool com termo loja <valor>. Os numeros por loja (receita_loja, vendas_loja, lucro_loja, acos_loja_pct, roas_loja, margem_liquida_loja_pct, ticket_medio_loja) estao em sumario.lojas[].',\n    produtos: _consol.produtos,\n    lojas: lojasParaIA,\n    alteracoes_desde_ultimo_upload: alteracoes\n  }\n};\n\nreturn [sumario, ...listaBase];"
      },
      "id": "8a7b8db5-7810-45af-a889-8bb59ae6bdee",
      "name": "Filtrar Resultados para a IA1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT loja, produto, anuncio_indice, titulo, status, saude, vendas, receita, lucro, investimento_ads, acos, ctr, conversao, roas, roi, margem_liquida, ticket_medio FROM embaplan_analysis_snapshot WHERE batch_id = (SELECT MAX(id) FROM embaplan_upload_batch);",
        "options": {}
      },
      "id": "get-prev-snapshots-id",
      "name": "Get Previous Snapshots",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        250,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT loja, produto, anuncio_indice, titulo, status, saude, vendas, receita, lucro, investimento_ads, acos, ctr, conversao, roas, roi, margem_liquida, ticket_medio FROM (SELECT s.*, ROW_NUMBER() OVER (PARTITION BY s.anuncio_indice ORDER BY COALESCE(b.periodo, b.created_at::date) DESC, b.created_at DESC) AS rn FROM embaplan_analysis_snapshot s JOIN embaplan_upload_batch b ON b.id = s.batch_id) z WHERE rn = 1 ORDER BY receita DESC NULLS LAST;",
        "options": {}
      },
      "id": "get-consolidated-lojas-id",
      "name": "Base Consolidada (todas as lojas)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        250,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Previous Snapshots",
            "type": "main",
            "index": 0
          },
          {
            "node": "Base Consolidada (todas as lojas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base Consolidada (todas as lojas)": {
      "main": [
        [
          {
            "node": "Filtrar Resultados para a IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "69078baf-81dd-40f5-bc26-e3b5f71b62f1",
  "meta": {
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  },
  "id": "tfceuFQZN1G68Xyz",
  "tags": []
}
