workspaces/Embaplan - Consultar Todas as Abas.json
{
  "name": "[Embaplan] Sub-fluxo: Consultar Todas as Abas",
  "nodes": [
    {
      "parameters": {},
      "id": "a0000000-0000-4000-8000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "b0000000-0000-4000-8000-000000000010",
              "leftValue": "={{ $json._modo }}",
              "rightValue": "rows_diretas",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0000000-0000-4000-8000-000000000011",
      "name": "Modo Rows Diretas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [120, 240]
    },
    {
      "parameters": {
        "content": "## 📚 Consultar TODAS as Abas\n\nLê o conteúdo de **todas** as abas da planilha de uma só vez e devolve o mesmo `SUMARIO_PRE_CALCULADO` consolidado (produtos[] + lojas[]) que o sub-fluxo de consulta por aba.\n\n**Uso:** chame como sub-fluxo (não precisa de parâmetros). Ideal para o fluxo de **Upload da Planilha do Mês**, que precisa capturar o snapshot de todos os anúncios de todas as abas.\n\n⚙️ Antes de ativar:\n1. Conecte a credencial **Google Sheets OAuth2** nos nós *Listar Abas API* e *Ler Todas as Abas*.\n2. Confirme o `documentId` `113Z3z1tTYza8XYnEMBtM5elrhsus2N9yP5Ww0w3zTek`.\n\n🔁 Fluxo: lista as abas → gera 1 item por aba → o nó *Ler Todas as Abas* lê cada aba → *Consolidar Tudo* junta todas as linhas e calcula as métricas.",
        "height": 300,
        "width": 560,
        "color": 5
      },
      "id": "a0000000-0000-4000-8000-000000000002",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-48, 40]
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/113Z3z1tTYza8XYnEMBtM5elrhsus2N9yP5Ww0w3zTek?fields=sheets.properties.title",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a0000000-0000-4000-8000-000000000003",
      "name": "Listar Abas API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [240, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y2LZELFEeUCjAV5U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transforma a resposta da API em 1 item por aba.\n// O nó 'Ler Todas as Abas' (Google Sheets) executa uma vez por item de entrada,\n// lendo dinamicamente cada aba com sheetName = {{ $json.aba }}.\nconst sheets = ($input.first().json.sheets || []);\nconst abas = sheets.map(s => s.properties && s.properties.title).filter(Boolean);\nif (abas.length === 0) {\n  throw new Error('Nenhuma aba encontrada na planilha. Verifique o documentId e a credencial do Google Sheets.');\n}\nreturn abas.map(a => ({ json: { aba: a } }));"
      },
      "id": "a0000000-0000-4000-8000-000000000004",
      "name": "Extrair Nomes das Abas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "113Z3z1tTYza8XYnEMBtM5elrhsus2N9yP5Ww0w3zTek",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.aba }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "a0000000-0000-4000-8000-000000000005",
      "name": "Ler Todas as Abas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y2LZELFEeUCjAV5U",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Consolida TODAS as linhas de TODAS as abas em um único SUMARIO_PRE_CALCULADO.\n// Mesma lógica de enriquecimento/consolidação do sub-fluxo por aba, sem filtro de termo.\n\n// === Mapeamento das lojas (Shopee shop_id) ===\nconst LOJAS = {\n  '1': '457463719',\n  '2': '1020574907',\n  '3': '959503392'\n};\n\nfunction slugify(s) {\n  if (!s) return '';\n  return String(s).toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n}\n\nfunction montarLinkShopee(row) {\n  const lojaKey = String(row['Loja'] ?? row['loja'] ?? '').trim();\n  const shopId  = LOJAS[lojaKey];\n  const titulo  = row['Titulo'] ?? row['Título'] ?? row['titulo'] ?? row['Index'];\n  const adId    = row['ID do Anuncio'] ?? row['ID do Anúncio'] ?? row['id_do_anuncio'] ?? row['ID_do_Anuncio'];\n  if (!shopId || !adId || String(shopId).startsWith('ID_LOJA_')) return '';\n  const slug = slugify(titulo) || 'produto';\n  return `https://shopee.com.br/${slug}-i.${shopId}.${adId}`;\n}\n\nfunction toNum(v) {\n  if (v === null || v === undefined || v === '') return 0;\n  if (typeof v === 'number') return v;\n  let s = String(v).trim();\n  s = s.replace(/R\\$/gi, '').replace(/%/g, '').replace(/\\s/g, '');\n  if (s.indexOf(',') >= 0 && s.indexOf('.') >= 0) {\n    s = s.replace(/\\./g, '').replace(',', '.');\n  } else if (s.indexOf(',') >= 0) {\n    s = s.replace(',', '.');\n  }\n  const n = parseFloat(s);\n  return isFinite(n) ? n : 0;\n}\n\nfunction pick(row, candidates) {\n  for (const c of candidates) {\n    if (row[c] !== undefined && row[c] !== null && row[c] !== '') return row[c];\n  }\n  const keys = Object.keys(row);\n  for (const c of candidates) {\n    const k = keys.find(k => k.toLowerCase() === c.toLowerCase());\n    if (k && row[k] !== '' && row[k] !== null && row[k] !== undefined) return row[k];\n  }\n  return undefined;\n}\n\nfunction round2(n) { return Math.round(n * 100) / 100; }\n\nfunction classificarStatus(conv, acos, lucro, ctr, vendas) {\n  if (lucro < 0) return '🛑 Ralo';\n  if (acos > 30) return '🛑 Ralo';\n  if (lucro < 30 && (vendas || 0) < 3) return '🛑 Ralo';\n  if (acos <= 10 && lucro >= 100) return '🚀 Escalável';\n  if (acos <= 15 && lucro >= 50)  return '⏳ Maturação';\n  if (acos > 20 || ctr < 0.8 || conv < 2) return '⚠️ Gargalo';\n  return '⏳ Maturação';\n}\n\nfunction saude(ctr, conv, acos, lucro) {\n  const base = (ctr * 1.5) + (conv * 0.5) + Math.max(0, (30 - acos) * 0.15) + (lucro > 0 ? 2 : 0);\n  return Math.min(10, Math.max(0, round2(base)));\n}\n\nfunction enriquecerLinha(row) {\n  row['Link do Shopee'] = montarLinkShopee(row);\n\n  const vendas = toNum(pick(row, ['Itens Vendidos', 'Vendas', 'Quantidade Vendida']));\n  const receita = toNum(pick(row, ['GMV', 'Receita Bruta', 'Receita', 'Faturamento']));\n  const lucro = toNum(pick(row, ['lucro liquido', 'Lucro Líquido', 'Lucro Liquido', 'Lucro']));\n  const custoAds = toNum(pick(row, ['Despesas', 'Custo Ads', 'Custo do Anúncio', 'Investimento Ads', 'Gasto Ads']));\n  const cliques = toNum(pick(row, ['Cliques']));\n  const impressoes = toNum(pick(row, ['Impressões', 'Impressoes']));\n  const conversoes = toNum(pick(row, ['Conversões', 'Conversoes', 'Itens Vendidos']));\n\n  function toPct(v) {\n    const n = toNum(v);\n    if (n === 0) return 0;\n    const original = String(v ?? '');\n    if (n > 0 && n < 1 && !original.includes('%')) return round2(n * 100);\n    return round2(n);\n  }\n\n  const acosRaw = pick(row, ['ACOS']);\n  const convRaw = pick(row, ['Taxa de Conversão', 'Taxa de Conversao']);\n  const ctrRaw = pick(row, ['CTR']);\n\n  const ctr = ctrRaw !== undefined ? toPct(ctrRaw) : (impressoes > 0 ? round2((cliques / impressoes) * 100) : 0);\n  const convPct = convRaw !== undefined ? toPct(convRaw) : (cliques > 0 ? round2((conversoes / cliques) * 100) : 0);\n  const acos = acosRaw !== undefined ? toPct(acosRaw) : (receita > 0 ? round2((custoAds / receita) * 100) : 0);\n  const roi = custoAds > 0 ? round2((lucro / custoAds) * 100) : 0;\n  const roas = custoAds > 0 ? round2(receita / custoAds) : 0;\n  const roiAds = custoAds > 0 ? round2(((receita - custoAds) / custoAds) * 100) : 0;\n  const margemLiquidaPct = receita > 0 ? round2((lucro / receita) * 100) : 0;\n  const custoPorVenda = vendas > 0 ? round2(custoAds / vendas) : 0;\n\n  row._metricas = {\n    vendas, receita: round2(receita), lucro: round2(lucro), custo_ads: round2(custoAds), cliques, impressoes, conversoes,\n    ctr_pct: ctr, conversao_pct: convPct, acos_pct: acos,\n    roas, roi_ads_pct: roiAds, margem_liquida_pct: margemLiquidaPct,\n    roi_lucro_sobre_ads_pct: roi,\n    custo_por_venda: custoPorVenda,\n    status: classificarStatus(convPct, acos, lucro, ctr, vendas)\n  };\n  return row;\n}\n\nfunction enriquecer(items) {\n  const out = [];\n  for (const it of items) {\n    if (!it || !it.json) continue;\n    // Ignora itens auxiliares (ex.: o item {aba:...} que não virou linha de dados)\n    if (it.json.aba !== undefined && Object.keys(it.json).length === 1) continue;\n    enriquecerLinha(it.json);\n    const m = it.json._metricas;\n    if (m && m.receita === 0 && m.custo_ads === 0 && m.vendas === 0 && m.cliques === 0 && m.impressoes === 0) continue;\n    out.push(it);\n  }\n  return out;\n}\n\nfunction chaveProduto(row) {\n  const loja = String(pick(row, ['Loja', 'loja']) ?? '').trim();\n  const cat = String(pick(row, ['Categoria']) || '').trim();\n  const tam = String(pick(row, ['Tamanho']) || '').trim();\n  const base = (cat && tam) ? `${cat} — ${tam}` : String(pick(row, ['Tamanho', 'Categoria', 'Index', 'Produto', 'Linha']) || 'SEM_PRODUTO').trim();\n  return loja ? `[Loja ${loja}] ${base}` : base;\n}\n\nfunction consolidarPorProduto(items) {\n  const grupos = {};\n  for (const it of items) {\n    const row = it.json;\n    if (!row || !row._metricas) continue;\n    const produto = chaveProduto(row);\n    if (!grupos[produto]) {\n      grupos[produto] = { produto, anuncios: 0, vendas: 0, receita: 0, lucro: 0, custo_ads: 0, cliques: 0, impressoes: 0, conversoes: 0, _rows: [] };\n    }\n    const g = grupos[produto];\n    const m = row._metricas;\n    g.anuncios += 1;\n    g.vendas += m.vendas;\n    g.receita += m.receita;\n    g.lucro += m.lucro;\n    g.custo_ads += m.custo_ads;\n    g.cliques += m.cliques;\n    g.impressoes += m.impressoes;\n    g.conversoes += m.conversoes;\n    g._rows.push(row);\n  }\n  const consolidado = Object.values(grupos).map(g => {\n    const anuncios_detalhados = g._rows.map(r => {\n      const m = r._metricas;\n      const indiceRaw = pick(r, ['indice', 'Indice', 'Índice', 'Index', 'index']);\n      const idAnuncio = pick(r, ['ID do Anuncio', 'ID do Anúncio', 'id_do_anuncio', 'ID_do_Anuncio']);\n      const titulo = pick(r, ['Titulo', 'Título', 'titulo']);\n      const lojaRow = String(pick(r, ['Loja', 'loja']) ?? '').trim();\n      const indiceNumerico = (indiceRaw !== undefined && /^\\s*\\d{1,6}\\s*$/.test(String(indiceRaw))) ? String(indiceRaw).trim() : null;\n      const indiceUnico = indiceNumerico !== null\n        ? (lojaRow ? `L${lojaRow}#${indiceNumerico}` : indiceNumerico)\n        : (idAnuncio !== undefined ? String(idAnuncio) : '');\n      const indice = indiceNumerico;\n      return {\n        loja: lojaRow || null,\n        indice: indiceUnico,\n        indice_planilha: indice !== undefined ? String(indice) : '',\n        id_anuncio: idAnuncio !== undefined ? String(idAnuncio) : '',\n        titulo: titulo !== undefined ? String(titulo) : '',\n        link: r['Link do Shopee'] || '',\n        vendas: m.vendas,\n        receita: m.receita,\n        lucro: m.lucro,\n        custo_ads: m.custo_ads,\n        cliques: m.cliques,\n        impressoes: m.impressoes,\n        ctr_pct: m.ctr_pct,\n        conversao_pct: m.conversao_pct,\n        acos_pct: m.acos_pct,\n        roas: m.roas,\n        margem_liquida_pct: m.margem_liquida_pct,\n        custo_por_venda: m.custo_por_venda,\n        status: m.status\n      };\n    }).sort((a, b) => b.receita - a.receita);\n    const ctr = g.impressoes > 0 ? round2((g.cliques / g.impressoes) * 100) : 0;\n    const conv = g.cliques > 0 ? round2((g.conversoes / g.cliques) * 100) : 0;\n    const acos = g.receita > 0 ? round2((g.custo_ads / g.receita) * 100) : 0;\n    const roi = g.custo_ads > 0 ? round2((g.lucro / g.custo_ads) * 100) : 0;\n    const roiAds = g.custo_ads > 0 ? round2(((g.receita - g.custo_ads) / g.custo_ads) * 100) : 0;\n    const roas = g.custo_ads > 0 ? round2(g.receita / g.custo_ads) : 0;\n    const margem = g.receita > 0 ? round2((g.lucro / g.receita) * 100) : 0;\n    const ticket = g.vendas > 0 ? round2(g.receita / g.vendas) : 0;\n    return {\n      produto: g.produto,\n      anuncios: g.anuncios,\n      vendas_total: g.vendas,\n      receita_total: round2(g.receita),\n      lucro_total: round2(g.lucro),\n      investimento_ads_total: round2(g.custo_ads),\n      ctr_medio_pct: ctr,\n      conversao_media_pct: conv,\n      acos_medio_pct: acos,\n      roas,\n      roi_ads_pct: roiAds,\n      margem_liquida_pct: margem,\n      roi_lucro_sobre_ads_pct: roi,\n      ticket_medio: ticket,\n      saude_0_10: saude(ctr, conv, acos, g.lucro),\n      status_consolidado: classificarStatus(conv, acos, g.lucro, ctr, g.vendas),\n      checklist_obrigatorio: anuncios_detalhados.map(a => a.indice || a.id_anuncio).filter(Boolean),\n      ids_cards: anuncios_detalhados.slice(0, 3).map(a => a.indice || a.id_anuncio).filter(Boolean),\n      ids_resumo: anuncios_detalhados.slice(3).map(a => a.indice || a.id_anuncio).filter(Boolean),\n      anuncios_detalhados\n    };\n  }).sort((a, b) => b.receita_total - a.receita_total);\n\n  const lojaTotais = {};\n  for (const p of consolidado) {\n    const mm = String(p.produto).match(/^\\[Loja\\s+([^\\]]+)\\]/i);\n    const lojaKey = mm ? mm[1].trim() : 'SEM_LOJA';\n    if (!lojaTotais[lojaKey]) lojaTotais[lojaKey] = { loja: lojaKey, produtos: 0, anuncios_loja: 0, receita_loja: 0, vendas_loja: 0, lucro_loja: 0, investimento_ads_loja: 0 };\n    const t = lojaTotais[lojaKey];\n    t.produtos += 1;\n    t.anuncios_loja += (p.anuncios || 0);\n    t.receita_loja += p.receita_total;\n    t.vendas_loja += p.vendas_total;\n    t.lucro_loja += p.lucro_total;\n    t.investimento_ads_loja += p.investimento_ads_total;\n  }\n  for (const p of consolidado) {\n    const mm = String(p.produto).match(/^\\[Loja\\s+([^\\]]+)\\]/i);\n    const lojaKey = mm ? mm[1].trim() : 'SEM_LOJA';\n    const t = lojaTotais[lojaKey];\n    p.loja = lojaKey === 'SEM_LOJA' ? null : lojaKey;\n    p.share_receita_loja_pct = (t && t.receita_loja > 0) ? round2((p.receita_total / t.receita_loja) * 100) : 0;\n    p.share_vendas_loja_pct  = (t && t.vendas_loja  > 0) ? round2((p.vendas_total  / t.vendas_loja ) * 100) : 0;\n  }\n  for (const k of Object.keys(lojaTotais)) {\n    const t = lojaTotais[k];\n    t.receita_loja = round2(t.receita_loja);\n    t.lucro_loja = round2(t.lucro_loja);\n    t.investimento_ads_loja = round2(t.investimento_ads_loja);\n    t.margem_liquida_loja_pct = t.receita_loja > 0 ? round2((t.lucro_loja / t.receita_loja) * 100) : 0;\n    t.acos_loja_pct = t.receita_loja > 0 ? round2((t.investimento_ads_loja / t.receita_loja) * 100) : 0;\n    t.roas_loja = t.investimento_ads_loja > 0 ? round2(t.receita_loja / t.investimento_ads_loja) : 0;\n    t.ticket_medio_loja = t.vendas_loja > 0 ? round2(t.receita_loja / t.vendas_loja) : 0;\n  }\n  const lojas = Object.values(lojaTotais).sort((a, b) => b.receita_loja - a.receita_loja);\n  return { produtos: consolidado, lojas };\n}\n\n// === Saída: todas as linhas de todas as abas ===\nconst listaBase = enriquecer($input.all());\nconst _consol = consolidarPorProduto(listaBase);\nconst sumario = {\n  json: {\n    __tipo: 'SUMARIO_PRE_CALCULADO',\n    origem: 'TODAS_AS_ABAS',\n    aviso_para_a_ia: 'FONTE ÚNICA DE VERDADE: produtos[X].anuncios_detalhados é a lista COMPLETA de anúncios de cada produto (todas as abas), já ordenada por receita desc. Cada produto é SEGREGADO POR LOJA. Use os campos pré-calculados (share_receita_loja_pct, share_vendas_loja_pct, sumario.lojas[]) sem recalcular. Métricas: roas=receita/ads; roi_ads_pct=((receita-ads)/ads)*100; margem_liquida_pct=(lucro/receita)*100.',\n    total_anuncios: listaBase.length,\n    produtos: _consol.produtos,\n    lojas: _consol.lojas\n  }\n};\n\nreturn [sumario, ...listaBase];"
      },
      "id": "a0000000-0000-4000-8000-000000000006",
      "name": "Consolidar Tudo para a IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Modo Rows Diretas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modo Rows Diretas?": {
      "main": [
        [
          {
            "node": "Consolidar Tudo para a IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Listar Abas API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Abas API": {
      "main": [
        [
          {
            "node": "Extrair Nomes das Abas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Nomes das Abas": {
      "main": [
        [
          {
            "node": "Ler Todas as Abas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Todas as Abas": {
      "main": [
        [
          {
            "node": "Consolidar Tudo para a IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a0000000-0000-4000-8000-0000000000ff",
  "meta": {
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  },
  "tags": []
}
