workspaces/Embaplan-Chat-DELETE-Session.json
{
  "name": "Embaplan-Chat-DELETE-Session",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "embaplan-session",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "47077dcc-593e-456d-85c4-6e7b338234f2",
      "name": "When called - DELETE session",
      "position": [
        -96,
        80
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "a2450955-99fe-4f55-b057-1894f0fca81f"
    },
    {
      "parameters": {
        "jsCode": "// Substituindo .item por .first() para acessar os dados do primeiro item\nconst sessionId = $input.first().json.query?.sessionId || $input.first().json.queryString?.sessionId;\n\nif (!sessionId) {\n  throw new Error('sessionId query parameter is required');\n}\n\nreturn { sessionId };"
      },
      "id": "4450104c-c749-4401-9a12-93c502e19123",
      "name": "Extract Session ID to Delete",
      "position": [
        128,
        80
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM embaplan_chat_message WHERE session_id = '{{ $json.sessionId }}'",
        "options": {}
      },
      "id": "0767ecd3-06bc-49b4-bf9b-82c5b941a02e",
      "name": "Delete Session from DB",
      "position": [
        352,
        80
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Session deleted successfully' }) }}",
        "options": {}
      },
      "id": "fb49aacb-1773-4fbd-9234-a6b863bd480b",
      "name": "Return Success",
      "position": [
        576,
        80
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "connections": {
    "When called - DELETE session": {
      "main": [
        [
          {
            "node": "Extract Session ID to Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Session ID to Delete": {
      "main": [
        [
          {
            "node": "Delete Session from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session from DB": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7f34a89c-d663-47e7-8711-31df0ffbf001",
  "meta": {
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  },
  "id": "WVpJqlfeuDQv7PjC",
  "tags": []
}