workspaces/Embaplan-Detect-Changes.json
{
  "name": "Embaplan-Detect-Changes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "embaplan-detect-changes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "detect-webhook-id",
      "name": "Webhook - Detect Changes",
      "position": [-200, 100],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "detect-webhook-uid"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nreturn [{\n  json: {\n    p_batch_id: body.batch_id || null\n  }\n}];"
      },
      "id": "detect-parse-query-id",
      "name": "Parse Detect Args",
      "position": [0, 100],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH target_batches AS (\n  SELECT id, row_number() OVER (ORDER BY COALESCE(periodo, created_at::date) DESC, created_at DESC) as rn\n  FROM embaplan_upload_batch\n  WHERE ($1::bigint IS NULL OR id <= $1::bigint)\n  ORDER BY COALESCE(periodo, created_at::date) DESC, created_at DESC\n  LIMIT 2\n)\nSELECT s.batch_id, tb.rn, s.loja, s.produto, s.anuncio_indice, s.titulo, s.status, s.saude, s.vendas, s.receita, s.lucro, s.investimento_ads, s.acos, s.ctr, s.conversao, s.roas, s.roi, s.margem_liquida, s.ticket_medio \nFROM embaplan_analysis_snapshot s\nJOIN target_batches tb ON s.batch_id = tb.id;",
        "options": {
          "queryReplacement": "={{ [$json.p_batch_id || null] }}"
        }
      },
      "id": "detect-db-id",
      "name": "Previous Snapshots from DB",
      "position": [200, 100],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook - Detect Changes').first().json.body || {};\nconst dbRows = $input.all().map(item => item.json);\n\nconst currentSnapshots = dbRows.filter(r => r.rn === 1);\nconst prevSnapshots = dbRows.filter(r => r.rn === 2);\n\nconst prevMap = new Map();\nfor (const s of prevSnapshots) {\n  prevMap.set(String(s.anuncio_indice), s);\n}\n\nlet produtos = body.produtos || [];\n\nif (produtos.length === 0 && currentSnapshots.length > 0) {\n  const prodMap = new Map();\n  for (const s of currentSnapshots) {\n    const pName = s.produto || \"\";\n    if (!prodMap.has(pName)) {\n      prodMap.set(pName, []);\n    }\n    prodMap.get(pName).push({\n      indice: s.anuncio_indice,\n      id_anuncio: s.anuncio_indice,\n      titulo: s.titulo,\n      loja: s.loja,\n      vendas: s.vendas,\n      receita: s.receita,\n      custo_ads: s.investimento_ads,\n      status: s.status\n    });\n  }\n  produtos = [...prodMap.entries()].map(([prodName, anuncios]) => ({\n    produto: prodName,\n    anuncios_detalhados: anuncios\n  }));\n}\n\nconst alteracoes = [];\n\nfor (const prod of produtos) {\n  const anuncios = prod.anuncios_detalhados || [];\n  for (const cur of anuncios) {\n    const idx = String(cur.indice || cur.id_anuncio);\n    const prev = prevMap.get(idx);\n    \n    if (!prev) {\n      alteracoes.push({\n        anuncio: cur.titulo || idx,\n        anuncio_indice: idx,\n        loja: cur.loja,\n        produto: prod.produto,\n        campo: 'Status',\n        valor_anterior: null,\n        valor_atual: cur.status || 'Ativo',\n        delta_pct: null,\n        tipo: 'novo',\n        resumo: `Novo anúncio detectado: ${cur.titulo || idx}`\n      });\n      continue;\n    }\n    \n    const curVendas = Number(cur.vendas) || 0;\n    const curReceita = Number(cur.receita) || 0;\n    const prevVendas = Number(prev.vendas) || 0;\n    const prevReceita = Number(prev.receita) || 0;\n    \n    const curPrice = curVendas > 0 ? (curReceita / curVendas) : 0;\n    const prevPrice = prevVendas > 0 ? (prevReceita / prevVendas) : 0;\n    \n    if (curPrice > 0 && prevPrice > 0) {\n      const deltaPricePct = ((curPrice - prevPrice) / prevPrice) * 100;\n      if (Math.abs(deltaPricePct) >= 2) {\n        alteracoes.push({\n          anuncio: cur.titulo || idx,\n          anuncio_indice: idx,\n          loja: cur.loja,\n          produto: prod.produto,\n          campo: 'Preço',\n          valor_anterior: Math.round(prevPrice * 100) / 100,\n          valor_atual: Math.round(curPrice * 100) / 100,\n          delta_pct: Math.round(deltaPricePct * 100) / 100,\n          tipo: 'preco',\n          resumo: `Preço alterado de R$ ${prevPrice.toFixed(2)} para R$ ${curPrice.toFixed(2)} (${deltaPricePct > 0 ? '+' : ''}${Math.round(deltaPricePct)}%)`\n        });\n      }\n    }\n    \n    const curAds = Number(cur.custo_ads || cur.investimento_ads) || 0;\n    const prevAds = Number(prev.investimento_ads) || 0;\n    if (prevAds > 0 || curAds > 0) {\n      const prevVal = prevAds || 0;\n      const curVal = curAds || 0;\n      if (prevVal > 0) {\n        const deltaAdsPct = ((curVal - prevVal) / prevVal) * 100;\n        if (Math.abs(deltaAdsPct) >= 10) {\n          alteracoes.push({\n            anuncio: cur.titulo || idx,\n            anuncio_indice: idx,\n            loja: cur.loja,\n            produto: prod.produto,\n            campo: 'Investimento Ads',\n            valor_anterior: prevVal,\n            valor_atual: curVal,\n            delta_pct: Math.round(deltaAdsPct * 100) / 100,\n            tipo: 'investimento',\n            resumo: `Investimento Ads alterado de R$ ${prevVal.toFixed(2)} para R$ ${curVal.toFixed(2)} (${deltaAdsPct > 0 ? '+' : ''}${Math.round(deltaAdsPct)}%)`\n          });\n        }\n      }\n    }\n    \n    const statusVal = cur.status || '';\n    if (statusVal && prev.status && statusVal !== prev.status) {\n      alteracoes.push({\n        anuncio: cur.titulo || idx,\n        anuncio_indice: idx,\n        loja: cur.loja,\n        produto: prod.produto,\n        campo: 'Status',\n        valor_anterior: prev.status,\n        valor_atual: statusVal,\n        delta_pct: null,\n        tipo: 'status',\n        resumo: `Status alterado de ${prev.status} para ${statusVal}`\n      });\n    }\n  }\n}\n\nconst curIndices = new Set();\nfor (const prod of produtos) {\n  const anuncios = prod.anuncios_detalhados || [];\n  for (const cur of anuncios) {\n    curIndices.add(String(cur.indice || cur.id_anuncio));\n  }\n}\nfor (const s of prevSnapshots) {\n  if (!curIndices.has(String(s.anuncio_indice))) {\n    alteracoes.push({\n      anuncio: s.titulo || s.anuncio_indice,\n      anuncio_indice: s.anuncio_indice,\n      loja: s.loja,\n      produto: s.produto,\n      campo: 'Status',\n      valor_anterior: s.status,\n      valor_atual: 'Removido',\n      delta_pct: null,\n      tipo: 'removido',\n      resumo: `Anúncio removido: ${s.titulo || s.anuncio_indice}`\n    });\n  }\n}\n\nreturn [{\n  json: {\n    alteracoes,\n    resumo: `${alteracoes.length} alteração(ões) detectada(s)`\n  }\n}];"
      },
      "id": "detect-comparison-id",
      "name": "Compare Data",
      "position": [400, 100],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"alteracoes\": {{ JSON.stringify($json.alteracoes) }},\n  \"resumo\": \"{{ $json.resumo }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "detect-respond-id",
      "name": "Respond Changes",
      "position": [600, 100],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Detect Changes": {
      "main": [
        [
          {
            "node": "Parse Detect Args",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Detect Args": {
      "main": [
        [
          {
            "node": "Previous Snapshots from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous Snapshots from DB": {
      "main": [
        [
          {
            "node": "Compare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Data": {
      "main": [
        [
          {
            "node": "Respond Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "detect-workflow-version-id",
  "meta": {
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  },
  "id": "detect-workflow-id",
  "tags": []
}
